.app {
    max-width: 60rem;
    margin: auto;
}

/**** Global ****/

.link:hover {
    text-decoration: underline;
}

/****************/

/* Start Nav bar */
.nav nav {
    display: GRID;
    grid-template-columns: 1fr 6fr;
}

.nav img {
    margin-top: 0.25rem;
    margin-left: 2rem;
    width: 10rem;
    height: auto;
}

.nav ul {
    display: grid;
    list-style-type: none;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
}


.nav li {
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: bold;
    margin-left: -5rem;
    /* background-color: aqua; */
    height: 2rem;
}

.nav a {
    text-decoration: none;
}
/* End Nav bar */

/* ********************************************************** */

/* Start Footer */
.foot footer {
    display: GRID;
    grid-template-columns: 1fr 6fr;
}

.foot img {
    margin-top: 0.25rem;
    margin-left: 1.5rem;
    width: 9rem;
    height: auto;
}

.foot li {
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: bold;
    height: 2rem;
}

.foot .listheading {
    text-decoration:underline;
    text-decoration-thickness: 0.1rem ;
}

.foot ul {
    display: grid;
    list-style-type: none;
    text-align: left;
    grid-template-rows: repeat(auto-fill, minmax(1rem, 1fr));
}

.foot .lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.foot a {
    text-decoration: none;
}
/* End Footer */


/* ********************************************************** */
/* ********************************************************** */


/*********** Start HomePage *****************/

/* Start CallToAction */

.calltoaction {
    background-color: #495E57;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.calltoaction .text {
    margin-top: 2.2rem;
    margin-left: 3rem;
}

.calltoaction h1 {
    font-family: 'Markazi';
    font-size: 2.5rem;
    font-weight:normal;
    color: #F4CE14;
}

.calltoaction h2 {
    margin-top: -1.75rem;
    font-family: 'Markazi';
    font-size: 1.5rem;
    font-weight:normal;
    color: #ffffff;
}

.calltoaction p {
    font-family: 'Karla';
    font-size: 1.4rem;
    font-weight:normal;
    color: #ffffff;
}

.calltoaction .button {
    background-color: #F4CE14;
    border: none;
    font-family: 'Karla';
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: .5rem;
}

.calltoaction .button:hover {
    background-color: #FBDABB;
}

.calltoaction .button:focus {
    background-color: #EE9972;
}

.calltoaction img {
    margin-top: 1.5rem;
    margin-left: 3rem;
    width: 20rem;
    border-radius: 1rem;
}
/* End CallToAction */


/* Start Specials */
.specials {
    margin-left: 3rem;
    margin-bottom: 4rem;
}

.specials .toprow {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.specials .toprow h1 {
    font-family: 'Markazi';
    font-kerning: auto;
    font-size: 2.0rem;
    font-weight:normal;
}

.specials .toprow .button {
    background-color: black;
    border: none;
    font-family: 'Karla';
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: .5rem;
    color: #EDEFEE;
}

.specials .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.specials .onearticle {
    background-color: #EDEFEE;
    margin-top: 4rem;
    width: 15rem;
}

.specials .onearticle img {
    width: 15rem;
    margin-top: -1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.specials .onearticle .text {
    height: 11rem;
}

.specials .onearticle .text , .delivery{
    margin: 1.25rem;
}

.specials .onearticle .text h2 {
    font-family: 'Markazi';
    font-kerning: auto;
    font-size: 1.0rem;
    font-weight:bold;
}

.specials .onearticle .text p {
    font-family: 'Karla';
    font-kerning: auto;
    font-size: 1.0rem;
    font-weight:bold;
    color: #0707077c;
}

.specials .onearticle .delivery h3{
    font-family: 'Karla';
    font-size: 1.1rem;
    font-weight:bolder;
}
/* End Specials */

/* Start testimonials */
.testimonials0 {
    background-color: #495E57;
}

.testimonials1 {
    margin-left: 3rem;
    padding-bottom: 8rem;
    padding-top: 4rem;
}

.testimonials1 .title {
    font-family: 'Markazi';
    font-size: 2.0rem;
    font-weight:normal;
    color: #F4CE14;
}

.testimonials1 .customers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.testimonials1 .customers .onetestimonial {
    background-color: #EDEFEE;
    margin-top: 4rem;
    width: 10rem;
    height: 12rem;
    text-align:left;
}
.testimonials1 .customers .onetestimonial .content img {
    width: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-right: -0.5;
}

.testimonials1 .customers .onetestimonial .content {
    margin-top: -0.5rem;
    margin-left: .75rem;
    margin-right: .75rem;
}

.testimonials1 .customers .onetestimonial .content p{ 
    font-family: 'Karla';
    font-kerning: auto;
    font-size: 0.7rem;
    font-weight:bold;
    color:black;
}

.testimonials1 .customers .onetestimonial .content h3 h4{ 
    font-family: 'Karla';
    font-kerning: auto;
    font-size: 1rem;
    font-weight:bold;
    color:black;
}

.testimonials1 .customers .onetestimonial .imagename {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
}
/* End testimonials */

/* Start Chicago */
.chicago .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 4rem;
}

.chicago h1 {
    font-family: 'Markazi';
    font-size: 2.5rem;
    font-weight:normal;
    color:black;
}

.chicago h2 {
    margin-top: -1.75rem;
    font-family: 'Markazi';
    font-size: 1.5rem;
    font-weight:normal;
    color: black;
}

.chicago p {
    font-family: 'Karla';
    font-size: 1.4rem;
    font-weight:normal;
    color:black;
}

.chicago .content img {
    width: 20rem;
    /* width: 90%; */
}
/* End Chicago */

/* Start BookingForm */
.bookingform .submitbutton {
    text-align: center;
    margin-bottom: 3rem;
}

/* .submitbutton button:hover {
    background-color: EDEFEE;
} */

.bookingform .submitbutton button{
    background-color: black;
    border: none;
    font-family: 'Karla';
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    color: #EDEFEE;
    width: 20rem;
}

.submitbutton button[disabled] {
    filter: blur(2px);
  }

.bookingform .form fieldset {
/* .bookingform .form .input-box { */
    font-family: 'Karla';
    font-size: 1.4rem;
    font-weight:bolder;
    border:white;
    font-kerning:normal;
}

/* .bookingform .form fieldset {
    border:white;
} */

.bookingform .form .datetime {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    /* margin-top: 3rem; */
}

.bookingform .form .guests {
    /* margin-top: 3rem; */
}

.bookingform .form .occasion {
    /* margin-top: 3rem; */
}

.bookingform h1 {
    font-family: 'Markazi';
    font-size: 2rem;
}

.form h2 {
    margin-top: 2rem;
    font-family: 'Markazi';
    font-size: 1.3rem;
}

.datetime label {
    margin-right: 6.2rem;
}

.time label{
    margin-right: 6rem;
}

.guests label {
    margin-right: 4.55rem;
}

.occasion label {
    margin-right: 3rem;
}

.firstname label {
    /* margin-top: 3rem; */
    /* font-weight: bolder; */
    margin-right: 2rem;
}

.lastname label {
    /* margin-top: 3rem; */
    /* font-weight: bolder; */
    margin-right: 2.3rem;
}

.email label {
    /* margin-top: 3rem; */
    /* font-weight: bolder; */
    margin-right: 4.5rem;
}

.phone label {
    /* margin-top: 3rem; */
    /* font-weight: bolder; */
    margin-right: 4.25rem;
}

.bookingform .validationerror {
    color: crimson;
    font-size: x-small;
}
/* End BookingForm */

/* Start BookingPage */
.bookingpage {
    margin-left: 3rem;
}

.bookingpage .image img {
    max-width: 52rem;
    width: 90%;
}

/* End BookingPage */

/* Start ConfirmedBooking */

.confirmedbooking {
    margin-top: 2rem;
}

.confirmedbooking .confirmfield {
    width: 15rem;
    background:#EDEFEE;
    padding: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
    margin-bottom: 1rem;
}

.confirmedbooking h2 {
    text-align: center;
}

.confirmedbooking span {
    color:#EE9972;
}
/* End ConfirmedBooking */


/*********** End HomePage *****************/