/* body { */
    /* background-color: hsla(30, 5%, 93%, 0.837);; */
    /* font-family: Arial;
    margin-top: 3rem;
    margin-bottom: 3rem; */
    /* margin: auto; */
    /* margin-left: auto;
    margin-right: auto;
    max-width: 100%; */
    /* justify-content: center; */
/* } */

.app {
    max-width: 60rem;
    margin: auto;
}

/* Start Nav bar */
.nav nav {
    display: GRID;
    grid-template-columns: 1fr 6fr;
}

.nav img {
    margin-top: 0.25rem;
    margin-left: 2rem;
    width: 10rem;
    height: auto;
}

.nav ul {
    display: grid;
    list-style-type: none;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
}

.nav li {
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: bold;
    margin-left: -5rem;
}

.nav a {
    text-decoration: none;
}
/* End Nav bar */

/* ********************************************************** */

/* Start Footer */

.foot footer {
    display: GRID;
    grid-template-columns: 1fr 6fr;
}

.foot img {
    margin-top: 0.25rem;
    margin-left: 1.5rem;
    width: 9rem;
    height: auto;
}

.foot li {
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: bold;
    /* margin-left: -5rem; */
}

.foot ul {
    display: grid;
    list-style-type: none;
    text-align: left;
    grid-template-rows: repeat(auto-fill, minmax(1rem, 1fr));
}

.foot .lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.foot a {
    text-decoration: none;
}
/* End Footer */

/* ********************************************************** */

/*********** Start HomePage *****************/

/* Start CallToAction */

.calltoaction {
    background-color: #495E57;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.calltoaction .text {
    margin-top: 2.2rem;
    margin-left: 3rem;
    /* margin-right: 2rem; */
}

.calltoaction h1 {
    font-family: 'Markazi';
    font-size: 2.5rem;
    font-weight:normal;
    color: #F4CE14;
}

.calltoaction h2 {
    margin-top: -1.75rem;
    font-family: 'Markazi';
    font-size: 1.5rem;
    font-weight:normal;
    color: #ffffff;
}

.calltoaction p {
    font-family: 'Karla';
    font-size: 1.4rem;
    font-weight:normal;
    color: #ffffff;
}

.calltoaction .button {
    background-color: #F4CE14;
    border: none;
    font-family: 'Karla';
    font-size: 1.4rem;
    /* margin: 1rem 1rem; */
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: .5rem;
}

.calltoaction img {
    margin-top: 1.5rem;
    margin-left: 3rem;
    width: 20rem;
    border-radius: 1rem;
}
/* End CallToAction */


/* Start Specials */


.specials {
    margin-left: 3rem;
}
.specials .toprow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    /* grid-template-rows: 5rem; */
}

.specials .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.specials .onearticle {
    background-color: #EDEFEE;
    /* margin: auto; */
    /* padding: 1rem; */
    /* margin: 1rem; */
    margin-top: 4rem;
    /* margin-bottom: 2rem; */
    width: 15rem;
}

.specials .onearticle img {
    width: 15rem;
    /* padding: -1rem; */
    /* margin-left: -1rem; */
    margin-top: -1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.specials .onearticle .text , .delivery{
    margin: 1.25rem;
}
/* End Specials */

.specials .onearticle .text h2 {
    font-family: 'Markazi';
    font-kerning: auto;
    font-size: 1.0rem;
    font-weight:bold;
}

.specials .onearticle .text p {
    font-family: 'Karla';
    font-kerning: auto;
    font-size: 1.0rem;
    font-weight:bold;
    color: #0707077c;
}

.specials .onearticle .delivery {
    font-family: 'Karla';
    font-kerning: auto;
    font-size: 1.0rem;
    font-weight:bold;
    /* margin-bottom: 1rem; */
}

/*********** End HomePage *****************/